
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #264de4;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #2965f1;
    text-align: center;
    margin: 0;
}

header {
    background-image: url(images/css-logo.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center top;
    padding: 240px 20px 20px
}

.preamble {
    border: 10px solid #ff3336;
    background-color: #ff7c66;
    padding: 10px;
    color: white;
}

.explanation {
    border: 10px solid #fb9c28;
    background-color: #feca3e;
    padding: 10px;
    color: white;
    margin-top: 20px;
}